<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="/public/dist/stylesheets/style.css" />
  <script src="/public/dist/apps/vendors.js"></script>
  {% block scripts %}{% endblock %}
</head>
<body {% if bodyClass %} class="{{bodyClass}}"{% endif %}>
  {% include "elements/header.html" %}
  <div class="contentWrapper">
    {% block content %}{% endblock %}
  </div>
  {% include "elements/footer.html" %}
</body>
</html>