@import "mixins/reset";
@import "config";

@import url(https://fonts.googleapis.com/css?family=Dosis:400,300,500,600,700,800);
@import "../../node_modules/font-awesome/scss/font-awesome";
@import "mixins/loader";
@import "elements/footer";
@import "elements/form";
@import "elements/header";
@import "elements/nav";
@import "elements/showcase";

body {
  background: #fff url("/public/images/bg.png");
  font-family: 'Dosis', sans-serif;
  font-size: 18px;
  margin: 0;
  color: $text-color;
  font-weight: 300;
}
a {
  text-decoration: none;
  color: #abc;
  &:hover {
    color: lighten($primary-color, 20);
  }
}
.center {
  text-align: center;
}
.left {
  float: left;
}
.right {
  float: right;
}
h1 {
  font-size: 30px;
  margin-bottom: $pad*2;
}
p {
  line-height: 30px;
  margin-bottom: $pad*2;
}

.container {
  max-width: 960px;
  margin: auto;
  padding: 0 $pad;
  position: relative;
}

.contentWrapper {
  min-height: 350px;
}
.content {
  margin-top: $pad*3;
}
.section {
  margin-left: 250px;
  margin-right: 170px;
  img {
    max-width: 100%;
  }
}