.commentBox {
  background: #000;
  padding: 30px;
  width: 500px;
  border-radius: 7px;
  input[type="text"] {
    display: block;
    padding: 7px 15px;
    margin-bottom: 7px;
  }
  input[type="submit"] {
    display: block;
    background: #444;
    color: #fff;
    border: 1px solid #000;
    padding: 7px 30px;
  }
  .commentAuthor {
    font-size: 15px;
    font-weight: 500;
  }
  .commentText {
    font-size: 12px;
  }
  .commentList {
    .comment {
      margin-bottom: 15px;
    }
  }
}